@import 'clearfix';
@import 'variables';
@import 'header';
@import 'main-text';
@import 'quiz';
@import 'map';
@import 'mentors';
@import 'suburbs';
@import 'form';
@import 'footer';

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
@import url("http://fonts.googleapis.com/css?family=Pacifico");


* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: $color-background-main;
	font: 16px/1.5 $font-body;
	color: $color-text;
	text-align: center;
}

.subheading {
	font-weight: 400;
}